*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(IMGS/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-family: 'Lato', sans-serif;
}
img{
    margin-bottom: 25px;
    width: 150px;
}
h1{
    font-size: 50px;
    margin-bottom: 10px;
}

h2{
    margin-bottom: 40px;
    font-size: 25px;
}

h3{
    margin-bottom: 15px;
    font-weight: 600;
}

.container{
    margin: auto;
    max-width: 700px;
    display: flex;
}

.inputs {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 15px;
    border: none;
}

.align{
    text-align: center;
    margin-top: 100px;
}

.btn{
    margin-top: 35px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color:rgb(5,122,249);
    color: #fff;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    border: none;
    transition: 0.2s ease-out;
    cursor: pointer;
    margin-bottom: 50px;
}

.btn:hover{
    background-color: rgb(0, 92, 190);
    transition: 0.2s ease-in;
}